.App {
  /* text-align: center; */
}

/* Home-------------------*/
.home-img {
  width: 100px;
  height: 50px;
  float: left;
  /* text-align: start; */
  display: flex;
  align-items: flex-start;
  margin: -20px -40px;
  justify-content: flex-start;
  /* border: 1px solid gray; */
}
.home-ul {
  /* display: flex; */
  /* align-items: flex-start; */
  margin: 30px 50px;
  /* justify-content: flex-end; */
  list-style-type: none;
  /* border: 1px solid gray; */
}
.home-li {
  display: inline;
  float: right;
  /* margin: 5px; */
  width: 100px;
  /* border: 1px solid gray; */
  height: 30px;
  cursor: pointer;
}
.home-li:hover {
  background-color: gray;
  color: #61dafb;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* ********** Form************************* */
.form {
  margin: 20px;
}
