.App {
  /* text-align: center; */
}

/* Home-------------------*/
.home-img {
  width: 100px;
  height: 50px;
  float: left;
  /* text-align: start; */
  display: flex;
  align-items: flex-start;
  margin: -20px -40px;
  justify-content: flex-start;
  /* border: 1px solid gray; */
}
.home-ul {
  /* display: flex; */
  /* align-items: flex-start; */
  margin: 30px 50px;
  /* justify-content: flex-end; */
  list-style-type: none;
  /* border: 1px solid gray; */
}
.home-li {
  display: inline;
  float: right;
  /* margin: 5px; */
  width: 100px;
  /* border: 1px solid gray; */
  height: 30px;
  cursor: pointer;
}
.home-li:hover {
  background-color: gray;
  color: #61dafb;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* ********** Form************************* */
.form {
  margin: 20px;
}
.Router {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

@media screen and (max-width: 700px) {
  .grid-container {
    margin: 10px 10px;
  }
  .grid-item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 699px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196f3; */
    padding: 20px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 10px;
    text-align: center;
    width: 330px;
    margin-bottom: 10px;
  }
}
